/* Additional classes */

.bold  {
        font-weight:600 !important;
}

.normal {
        font-weight:200 !important;
}

.grey {
       color:#434e5d !important;
}

.white {
       color:#ffffff !important;
}

/* Custom */

.features {
        padding-top:150px;
}

#intro {
        height:328px;
}

.counters .row {
        margin:5% 0 0 0;
}

.portfolio.portfolio2 {
        padding-bottom:10px;
        box-shadow:0 0px 5px #999;
}

.author {
        background-color: #e52251;
        color: #ffffff !important;
        width: auto !important;
        display:block !important;
        clear: both !important;
        padding:6px 4px;
        font-weight:200 !important;
}

#carousel-example-generic2 {
        min-height: 250px !important;
}

#carousel-example-generic2 .carousel-inner {
        min-height:200px !important;
}

.carousel-indicators .active {
    background: #e52251 !important;
}

.testimonials p {
    font-weight:200;
}

#third {
    height:auto !important;
    padding-top:50px;
    padding-bottom:40px;
}

.spons .pro-logo {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.spons .pro-logo:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

#banner .carousel-inner {
    background:none !important;
    box-shadow:none !important;
    text-shadow: 2px 2px 7px #000000 !important;
}

.carousel-inner span.small-text {
    font-weight:400 !important;
    font-size:18px !important;
}

/*#banner .carousel-inner {
    background: rgba(229, 34, 81, 1) !important;
    width: 50%;
    box-shadow: 0px 0px 0px #000000 !important;
    text-shadow: 2px 2px 7px #3d3d3d !important;
}*/

.banner-detail {
    margin: 350px 0 0 0 !important;
}

.scroll {
    margin:50px 0 0 0 !important;
}


/* Portolio Hover */

.da-thumbs li ,
.da-thumbs li  img {
    display: block;
    position: relative;
    width: 100%;

}
.da-thumbs li  {
    overflow: hidden;

}
.da-thumbs li  article {
    position: absolute;
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricing .table.blue-table li {
        line-height:24px;
}

.pricing .table a {
        color:#000000;
        text-transform:uppercase;
        font-weight:300;
}

.pricing .table h2 {
         font-size:36px !important;
         letter-spacing:1px !important;
}

/* Initial state classes: */

.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px;
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.da-thumbs li  article a {
	color:#fff;
	padding:20px;
	display:block;
	height:100%;
}

.da-thumbs {
text-align:center;
}

.da-thumbs li  article h3{
color:#fff;

}

.da-thumbs li  article span{

color:#fff;
display:block;
}


.photo-icon i{
	font-size:36px;
	margin: 25% 0 0 0;
	display:block;
}
.video-icon i{
	font-size:36px;
	margin: 20% 0 0 0;
	display:block;
}
a.i{
	text-decoration:none;
}
span.zoom{
overflow:hidden;
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-repeat:no-repeat;
background-position:center;
margin-left:10px;
}

.portfolio_2col article h3{
padding-top:70px !important;
}

/* Image Grid */
.image_grid {
	float:left;
	overflow:hidden;
	width:100%;
	position:relative;

}

.image_grid li{
	float: left;
	line-height: 17px;
	color: #686f74;
	list-style:none;
	overflow:hidden;

	text-align:center;
}


/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 480px) {
	.image_grid{
width:100%;
}

.image_grid li img{
width:100%;
}
#portfolio-items-wrap .portfolio-item {
width: 100% !important;
}
}
@media only screen and (max-width: 767px) {

.image_grid{
width:100%;
}

.image_grid li img{
width:100%;
}



}


 @media only screen and (min-width: 480px) and (max-width: 767px) {



.image_grid li{
width:100% !important;
}

.portfolio_4col .da-thumbs li article h3{
padding-top:58px;
}

.portfolio_3col .da-thumbs li article h3{
padding-top:34px;
}

.portfolio_2col .da-thumbs li article h3{
padding-top:23px !important;
}

}

/* popup style */
#popup, #popup-thanks { display:none; }

#popup, #popup-thanks {
    background-color: #fff;
    border-radius: 0;
    border:5px solid #1e1e1e;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.button:hover {
    background-color: #1e1e1e
}

.button>span {
    font-size: 84%
}

.button.b-close,
.button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

/*input[type="submit"] {
    background-color:#e52251 !important;
    padding:8px 12px !important;
    border:1px solid #cccccc !important;
    color:#ffffff !important;
    text-transform:uppercase;
    width:60% !important;
    font-weight:600 !important;
}*/

.fancybox-overlay {
    background: rgba(255, 255, 255, 0.71) !important;
}

#send_mail label {
    font-weight:400;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
    width:40% !important;
    margin:0 auto !important;
}

.fancybox-inner {
    width:90% !important;
    margin:0 auto !important;
    height:auto !important;
    padding:20px 0px !important;
    background-color:#434e5d !important;
}

.fancybox-skin {
    padding:5px !important;
}

.fancybox-outer {
    background-color:#434e5d !important;
}

#send_mail textarea, #send_mail input {
    border: 1px solid #cccccc;
    width: 100% !important;
    padding: 6px 8px !important;
    border:1px solid #cccccc;
    margin:0 auto !important;
    text-align:center !important;
}

#send_mail input[type="submit"] {
    border: none !important;
    padding: 9px 30px !important;
    color: #fff !important;
    margin: -60px 0 0 0 !important;
    z-index: 2;
    position: relative !important;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    background-color:#e52251 !important;
    width:auto !important;
    top:-30px !important;
    left:50% !important;
    transform:translate(-50%, 0%) !important;
}

#send_mail input[type="submit"]:hover {
    background:#636363 !important;
}

#send_mail input {
    height:42px;
    font-size:16px;
}

#send_mail textarea {
    font-size:16px;
}

#send_mail textarea {
    width:100% !important;
}

#login_error {
    color:#cccccc !important;
}
